<h3>Welcome to Sun or Fun Airlines</h3>
<p>We offer cheap flights from Louisville, KY to either Miami, Florida or Las Vegas, Nevada</p>
<p>Here's a picture of one of our aircraft</p>

<img src="/img/airplane.jpg" alt="airplane in the sky">
<p>Click the 'Pick a Flight' link above to see our schedule</p>