<h3>Sun or Fun</h3>
<p>Here is your reservation summary.</p>
<ul>
   <li>Name: {{name}}</li>
   <li>Flight Number: {{flight}}</li>
   <li>Meal: {{meal}}</li>
   <li>Class: {{class}}</li>
   
</ul>